@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  margin-top: 80px;
}

.card {
  padding: 1em;
  margin-bottom: 1.5em;
}